# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
*.log

# Optional large folders
charts_and_graphs/
notebook/

# Streamlit cache
.streamlit/

__pycache__/
*.pyc

data/original/*.csv